@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 46 93% 45%;
    --primary-foreground: 46 93% 5%;
    --secondary: 40 10% 96%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 40 10% 96%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 26 79% 34%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 46 93% 45%;
    --radius: 1rem;
    --chart-1: 46 93% 45%;
    --chart-2: 26 79% 34%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --primary: 46 93% 45%;
    --accent: 26 79% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-primary/30;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }
  /* Only show the print-only container and its children */
  .print-only, .print-only * {
    visibility: visible;
  }
  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block !important;
  }
  /* Remove page headers/footers in some browsers */
  @page {
    margin: 0;
  }
  body {
    margin: 1cm;
    background: white !important;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}
